    /* Applying border-box to all element */
    html {
        box-sizing: border-box;
    }

    /* inherit border-box on all elements in the universe and before and after */
    *,*:before,*:after{
        box-sizing: inherit;
    }  

    body{
        background-color: #101011!important;
    }

    /* Common CSS */
    .site-white{
        color: #fbfbfb!important;
    }

    .card-bg{
        background: #1F1F1F!important ;
        height: 100%;
    }

    .mt-5rem{
        margin-top: 5rem !important;
    }

    .mt-6rem{
        margin-top: 6rem !important;
    }

    .mt-7rem{
        margin-bottom: 7rem !important;
    }

    .mb-5rem{
        margin-bottom: 5rem !important;
    }

    .mb-6rem{
        margin-bottom: 6rem !important;
    }

    .mb-7rem{
        margin-bottom: 7rem !important;
    }

    /* Navbar */
    #nav-contact,.hero-action .col-lg > a{
        padding: 9px 20px;
        background-color: #ed5145;
    }

    #active-nav{
        border-bottom: 2px solid #fbfbfb;
    }

    .navbar-nav li:hover{
        border-bottom: 2px solid #fbfbfb;
        transition: all 0.2s;
    }

    #nav-contact-li:hover{
        border: none!important;
    }



    /* Hero */

    #hero  div > span,#ignite div > span {
        border: 1px solid #ed51458c;
    }

    #ignite div > span#br{
        border: 0;
    }

    #hero span a,#ignite span  > a,.hero-action .col-lg > a{
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }

    .hero-text h1{
        font-size: 5rem;
    }

    #br{
        display: block;
    }

    /* Images */
    #img-1,#img-2,#video-1{
        object-fit: cover;
        width: 25%;
        max-width: 100%;
        height: 200px;
        display: inline-block;
    }

    #video-1{
        position: relative;
        top:10;
    }

    /* Transorm */
    .transform-text{
        font-size: 3rem;
    }

    .cards,#transformative-card{
        background: #1F1F1F!important ;
        height: 100%;
    }
    .cards img{
        width: 50%;
        margin: auto;
        word-wrap:normal;
    }

    /* Ignite */
    .ignite-disc{
        width: 35%;
        margin:auto;
    }

    .ignite-card-disc{
        width: 60%;
        margin: 0 auto;
    }


    .testimonial-image img{
        float: left;
    }

    /* Hover Effects */
    a#link-hover{
        background-color: #ed5145;
        
        transition: all 0.3s;
    }

    /* Pricing Page */

    .price-icon{
        background-color: #393939;
        border-radius: 50%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 3.5rem;
        height: 3.5rem;
        padding: .9rem;
        display: flex;
    }

    .price-icon img{
        object-fit: cover;
        width: 100%;
        max-width: 100%;
        height: 100%;
        display: inline-block;
        vertical-align: middle
    }

    #pricing-card{
        background-color: #151515;
        transition: all 0.3s;
    }

    #pricing-card-active{
        background-color: #1F1F1F;
    }

    #pricing-card:hover{
        background-color: #1F1F1F;
        transition: all 0.3s;
        cursor:pointer;
    }

    /* Contact Us Form */

    #plan-contact-us,.signin-form,.signup-form{
        width: 50%;
        margin: 0 auto  ;
    }
    #plan-contact-us label,#plan-contact-us input,#plan-contact-us textarea,#contact-us textarea,#signin label,#signin input,.sigin-forgot-pass{
        display: block;
        width: 100%;
        font-size: 1vw;
        font-weight: 400;
        color: white;
    }

    #plan-contact-us input,#plan-contact-us textarea,#contact-us textarea,#signin input,#signup input{
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: solid thin #c9d4d833;
        background-color: #101011;
        transition: all 0.3s;
    }

    #plan-contact-us input:focus-visible,#plan-contact-us textarea:focus-visible,#contact-us textarea:focus-visible,#signin input:focus-visible{
        outline: 0;
    
    }

    #plan-contact-us button,#signin button{
        background-color: #ed5145;
        border: none;
    }


    #signin a , .redirect-signup a{
        text-decoration: none;  
    }

    #signin a:hover,.redirect-signup a:hover{
        text-decoration: underline;

    }

    /* about us */
    .about-us-disc{
        width: 60%;
        margin: 0 auto;
        text-align: center;
        font-size: 1.3rem;
    }

    #mission-img{
        width: 50%;
    }


    /* Responsiveness */

    /* index */

    @media screen and (max-width: 1055px) {
        .testimonial-post,.testimonial-name,.testimonial-disc{
            font-size: 0.9rem;
        }
    }

    @media screen and (max-width: 1019px) {
        .testimonial-post,.testimonial-name,.testimonial-disc{
            font-size: 0.8rem;
        }
    }

    @media screen and (max-width: 992px) {
        .navbar-collapse ul li{
            margin-left: 0!important;
            margin-top: 2rem!important;
        }
        .navbar-collapse{
            text-align: center;
            background-color: #1A1A1A;
        }
        
        #right-nav{
            margin-right: 0!important;
            text-align: center;
            margin-bottom: 2rem;
        }

        #active-nav{
            border-bottom: 0;
        }
        
        .navbar-nav li:hover{
            border-bottom: 0;
        }
        
        #nav-contact-li:hover{
            border: none!important;
        }

        #trusted img{
            margin-top: 3rem;
        }

        #images img,#images video{
            display: block;
            margin: 3rem auto;
            width: 70%;
            height: 300px;
        }

        #video-1{
            position: static;
        }

        #transformative-card{
            width: 80% !important;
            margin:3rem auto!important;
        }
        .testimonial-post,.testimonial-name,.testimonial-disc{
            font-size: 0.9rem;
        }

        #cards-index-col{
            width: 85%!important;
           margin: 3rem auto!important;
        }

        #hero-text-id h1{
            font-size: 3.5rem!important;
        }

        .transform-text{
            font-size:  3rem!important;
        }
        
        .ignite-disc{
            width: 90%;
        }

        #br{
            display: inline;
        }
    }

    /* pricing */
    @media screen and (max-width: 1200px) {
        #plan-contact-us label, #plan-contact-us input,#plan-contact-us textarea{
            font-size: 1rem;
        }    
    }

    @media screen and (max-width: 992px) {
        #pricing-card{
            margin-left: 0!important;
            margin-top: 4rem!important;
        }  
        
        
    }

   /* sigin */
   @media screen and (max-width: 1200px) {
    #signin label, #signin input,#signin textarea,#signin textarea,#signin a{
        font-size: 1rem;
    } 
    
    .signin-form,.signup-form{
        width: 70%;
    }
}





